body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto 20px auto;
  display: flex;
  justify-content: space-between;
}

.submit-field {
  width: 70%;
  border-radius: 10px;
  border: 1px solid #5c48d3;
  background-color: #5d48d313;
  font-size: 20px;
  padding: 0 10px;
}

.submit-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 15px 10px;
  background-color: white;
  color: #5c48d3;
  border: 1px solid #5c48d3;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  color: white;
  background-color: #5c48d3;
}

.todo {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo p {
  padding: 0 50px;
  font-size: 20px;
}

.todo input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5);
}

.trash {
  cursor: pointer;
  color: #5c48d3;
  font-size: 19px;
}

.trash-icon {
  pointer-events: none;
}

.check {
  text-decoration: line-through;
}

footer {
  padding: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #00000036;
}

footer > div {
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

footer a:hover {
  color: #5c48d3;
}
